/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
  font-family: 'Jost', sans-serif;
  src: url('./fonts/jost-100-hairline-webfont.woff2') format('woff2'),
    url('./fonts/jost-100-hairline-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Jost', sans-serif;
  src: url('./fonts/jost-200-thin-webfont.woff2') format('woff2'),
    url('./fonts/jost-200-thin-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Jost', sans-serif;
  src: url('./fonts/jost-300-light-webfont.woff2') format('woff2'),
    url('./fonts/jost-300-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Jost', sans-serif;
  src: url('./fonts/jost-400-book-webfont.woff2') format('woff2'),
    url('./fonts/jost-400-book-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jost', sans-serif;
  src: url('./fonts/jost-500-medium-webfont.woff2') format('woff2'),
    url('./fonts/jost-500-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Jost', sans-serif;
  src: url('./fonts/jost-600-semi-webfont.woff2') format('woff2'),
    url('./fonts/jost-600-semi-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Jost', sans-serif;
  src: url('./fonts/jost-700-bold-webfont.woff2') format('woff2'),
    url('./fonts/jost-700-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Jost', sans-serif;
  src: url('./fonts/jost-800-hevy-webfont.woff2') format('woff2'),
    url('./fonts/jost-800-hevy-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Jost', sans-serif;
  src: url('./fonts/jost-900-black-webfont.woff2') format('woff2'),
    url('./fonts/jost-900-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.content {
  width: 100vw;
  height: 100vh;
  background-color: #191e29;
  color: white;
  font-size: 1.2rem;
  font-family: 'Jost', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
}

.container .nav-bar {
  height: 100px;
  border: 1px red solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-weight: 500;
}
.container .nav-bar ul {
  display: flex;
  gap: 20px;
}

.container .nav-bar ul li a {
  text-decoration: none;
  color: white;
}

#home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home .home-content {
  width: 100%;
  height: 100%;
}
